<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="assets/header.png" alt="Rick and Morty">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-nav-list class="list-horizontal">
  <mat-list-item>
    <a [routerLink]="['/personajes']">Personajes</a>
  </mat-list-item>
  <mat-list-item>
    <a [routerLink]="['/episodios']">Episodios</a>
  </mat-list-item>
</mat-nav-list>
<div class="grid-container">
  <router-outlet></router-outlet>
</div>
